[user]
	name = Steven DUBOIS
	email = git@duboiss.fr
	signingkey = 35D929498C6C0DE8

[core]
	#autocrlf = input
	excludesfile = ~/.gitignore

[commit] 
	#gpgsign = true

[color "status"]
	added = green
	changed = yellow
	untracked = red

[alias]
	aliases = config --get-regexp alias
	br = branch -v
	branches = branch --all
	cb = checkout -b
	ci = commit
	cl = clone
	cm = checkout master
	cn = rev-list --count HEAD
	co = checkout
	contributors = shortlog --summary --email --numbered
	lc = log -1 HEAD --stat
	lg = log --oneline
	nuke =  !git clean -df && git reset --hard
	pf = push -f
	rb = rebase origin/master
	remotes = remote -v
	rl = reflog
	sl = stash list
	sp = stash pop
	ss = stash save -u
	st = status
	tags = tag -l
	unstage = reset HEAD --
	whoami = !git config user.name && git config user.email

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# Interactive rebase with the given number of latest commits
	reb = "!r() { git rebase -i HEAD~$1; }; r"

[log]
        abbrevCommit = true
