[user]
	name = Steven DUBOIS
	email = git@duboiss.fr
	signingkey = 35D929498C6C0DE8

[core]
	#autocrlf = input
	excludesfile = ~/.gitignore

[commit] 
	#gpgsign = true

[alias]
	br = branch
	cb = checkout -b
	ci = commit
	cl = clone
	cm = checkout master
	cn = rev-list --count HEAD
	co = checkout
	lc = log -1 HEAD --stat
	lg = log --oneline
	pf = push -f
	rb = rebase origin/master
	rl = reflog
	sl = stash list
	sp = stash pop
	ss = stash save -u
	st = status
	unstage = reset HEAD --

[log]
        abbrevCommit = true
