include /usr/local/share/nano/*.nanorc

set autoindent
#set constantshow
set indicator
#set linenumbers
set markmatch
set minibar
set mouse
set smarthome
set softwrap
set tabsize 4
#set tabstospaces
set trimblanks

# Colors
set functioncolor white
set keycolor white
set numbercolor white
set statuscolor yellow
set titlecolor white,black
