include /usr/local/share/nano/*.nanorc

set autoindent
#set constantshow
set indicator
#set linenumbers
set minibar
set mouse
set smarthome
set softwrap
set tabsize 4
#set tabstospaces
set trimblanks

# Binding
bind ^G gotoline main
bind ^H help main
bind ^Y redo main
bind ^R replace main
bind ^Z undo main
bind ^F whereis main

# Colors
set functioncolor white
set keycolor white
set numbercolor white
set statuscolor yellow
set titlecolor white,black
