[user]
	name = Steven DUBOIS
	email = git@duboiss.fr
	signingkey = 35D929498C6C0DE8

[core]
	autocrlf = input
	excludesfile = ~/.gitignore

[commit]
	#gpgsign = true

[alias]
	aliases = config --get-regexp alias
	ba = branch -a
	bm = branch -m
	bd = branch -D
	bip = for-each-ref --sort='authordate:iso8601' --format='%(color:green)%(authordate:relative)%09%(color:yellow)%(refname:short)%(color:white) / %(color:yellow)%(objectname:short) %(color:white)%(contents:subject)' refs/heads
	br = branch --sort=-committerdate -v
	brr = branch --sort=-committerdate -vv
	branches = branch --all
	ci = commit
	cl = clone
	clb = clone -b
	cn = rev-list --count HEAD
	conflicts = diff --name-only --diff-filter=U
	contributors = shortlog --summary --email --numbered
	deindex = restore --worktree
	deindexall = restore --worktree .
	difff = diff ':(exclude)composer.lock' ':(exclude)package-lock.json' ':(exclude)yarn.lock'
	graph = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %Cblue<%an>%Creset'
	lb = cherry -v master
	lc = log -1 HEAD --stat
	lg = log --oneline
	ln = log -n
	ls = log --stat
	m = switch master
	nuke =  !git clean -df && git reset --hard
	pf = push --force-with-lease
	rb = rebase origin/master
	remotes = remote -v
	rl = reflog
	sd = stash drop
	sl = stash list
	sp = stash pop
	ss = stash save -u
	st = status -s
	tags = tag -l
	up = !sh -c 'git pull --rebase --prune --no-stat --autostash && git --no-pager log --pretty=format:\"%C(yellow)%h %Creset %s %Creset (%an)\" HEAD@{1}.. && echo ""'
	unstage = restore --staged # or reset HEAD <file> for git versions lower than 2.23
	unstageall = restore --staged . # or reset HEAD for git versions lower than 2.23
	untrack = rm --cached -r
	whoami = !git config user.name && git config user.email
	zip = archive master --format=zip --output=master.zip

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	# Switch to a branch, creating it if necessary
	go = "!f() { git switch -c \"$1\" 2> /dev/null || git switch \"$1\"; }; f"

	# Delete merged branches
  	merged = "!f() { git branch --merged ${1:-master} | egrep -v \"(^\\*|${1:-master}|development)\" | xargs git branch -d; };f"

	# Interactive rebase with the given number of latest commits
	rbi = "!r() { git rebase -i HEAD~$1; }; r"

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = red
	upstream = red

[color "status"]
	added = green
	changed = yellow
	untracked = red

[log]
        abbrevCommit = true

[diff]
	noprefix = true

[pager]
	branch = false
	stash = false
	diff = "delta --plus-color=\"#728562\" --minus-color=\"#85434a\" --theme='Nord'"
	tag = false

[pull]
	rebase = true

[rebase]
	autostash = true

[gitflow "prefix"]
	versiontag = v
